.jumbotron{
    background-image: url("../images/h_img.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    height: 637px;

}
#ifoto {
    padding-top: 110px;
}
h1{
    padding-top: 30px;
}
#mouse{
    padding-top: 120px; 
}
.one{
    background-image: url("../images/s_image.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
}
#about{
    padding-bottom: 50px;
}
#serv{
    padding-top: 110px;
}
#service{
    padding-bottom: 110px;
}
#what{
    padding-top: 30px;
    padding-bottom: 30px;
}
/* .potofolio {
    background-color: white;
    padding: 20px;
    float: left;
    width: 25%;
} */
/* .third {
    padding-left: 150px;
    padding-right: 150px;
} */
.conta h3 {
    color: white;
    text-align: center;
    padding-top: 40px;
}
input[type=text] {
    height: 30px;
    background-color: transparent;
    margin-top: 20px;
    color: white;
}
#infor {
    margin-top: 20px;
    height: 300px;
    margin-bottom: 100px;
    background-color: transparent;
    color: white;
}
#infor::placeholder {
    color: white;
}
input[type="text"]::placeholder {
    color: white; 
}
.conta{
    background-image: url("../images/c_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* @media screen and (max-width: 900px) {
    .potofolio {
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .potofolio {
        width: 100%;
    }
} */
.potofolio1 {
    background-color: white;
    padding: 20px;
    float: left;
    width: 25%;
}
/* .forth{
    padding-left: 150px;
    padding-right: 150px;
} */
.flex-container{
    display: flex;
    /* flex-direction: row; */
    justify-content:center;
    flex-wrap: wrap;
}
.flex-container > div{
    padding: 20px;
}
footer p{
    text-align:center;
}
/* @media screen and (max-width: 900px) {
    .potofolio1 {
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .potofolio1 {
        width: 100%;
    }
} */
.overlay1{
    position: absolute;
    background-color:rgba(0,0,0,0.6);
   width: 200px;
   height: 165px;
   display: none;
}
.overlay1 p{
    position: absolute;
    /* top: 50%;
    left: 50%; */
    color: white;
    border-style: solid;
    /* padding: 50px; */
    font-size: 50px;
}

.overlay2{
    position: absolute;
    background-color:rgba(0,0,0,0.6);
   width: 200px;
   height: 165px;
   display: none;
   
}
.overlay2 p{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
}