body p{
    font-family: 'Lato', sans-serif;
}
.jumbotron{
    background-image: url("../images/h_img.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    height: 637px;

}
#ifoto {
    padding-top: 110px;
}
h1{
    padding-top: 30px;
}
#mouse{
    padding-top: 70px; 
}
.one{
    background-image: url("../images/s_image.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
}
#about{
    padding-bottom: 50px;
}
#serv{
    padding-top: 110px;
}
#service{
    padding-bottom: 110px;
}
#what{
    padding-top: 30px;
    padding-bottom: 30px;
}
.thiry h3 {
    color: white;
    text-align: center;
    padding-top: 40px;
}
input[type=text] {
    height: 30px;
    background-color: transparent;
    margin-top: 20px;
    color: white;
}
#messa {
    margin-top: 20px;
    height: 300px;
    margin-bottom: 100px;
    background-color: transparent;
    color: white;
}
#messa::placeholder {
    color: white;
}
input[type="text"]::placeholder {
    color: white; 
}
.thiry{
    background-image: url("../images/c_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.flex-container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.flex-container > div{
    padding: 20px;
}
footer{
    text-align:center;
}
footer img{
    padding: 10px;
}
.overlay1{
    position: absolute;
    background-color:rgba(0,0,0,0.6);
   width: 200px;
   height: 165px;
   display: none;
}
.overlay1 p{
    position: absolute;
    top: 20px;
    left: 30px;
    padding: 40px;
    font-size: 30px;
    border-style: solid;
    color: white;
}

.overlay2{
    position: absolute;
    background-color:rgba(0,0,0,0.6);
   width: 200px;
   height: 165px;
   display: none;
   
}
.overlay2 p{
    position: absolute;
    top: 20px;
    left: 15px;
    padding: 30px;
    padding-bottom: 45px;
    font-size: 30px;
    border-style: solid;
    color: white;
}
.overlay3{
    position: absolute;
    background-color:rgba(0,0,0,0.6);
   width: 200px;
   height: 165px;
   display: none;
   
}
.overlay3 p{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 40px;
    font-size: 30px;
    border-style: solid;
    color: white;
}
.overlay4{
    position: absolute;
    background-color:rgba(0,0,0,0.6);
   width: 200px;
   height: 165px;
   display: none;
   
}
.overlay4 p{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 40px;
    font-size: 30px;
    border-style: solid;
    color: white;
}
.overlay5{
    position: absolute;
    background-color:rgba(0,0,0,0.6);
   width: 200px;
   height: 165px;
   display: none;
   
}
.overlay5 p{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 40px;
    font-size: 30px;
    border-style: solid;
    color: white;
}
.overlay6{
    position: absolute;
    background-color:rgba(0,0,0,0.6);
   width: 200px;
   height: 165px;
   display: none;
   
}
.overlay6 p{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 40px;
    font-size: 30px;
    border-style: solid;
    color: white;
}
.overlay7{
    position: absolute;
    background-color:rgba(0,0,0,0.6);
   width: 200px;
   height: 165px;
   display: none;
   
}
.overlay7 p{
    position: absolute;
    top: 20px;
    left: 10px;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 10px;
    padding-bottom: 40px;
    font-size: 30px;
    border-style: solid;
    color: white;
}
.overlay8{
    position: absolute;
    background-color:rgba(0,0,0,0.6);
   width: 200px;
   height: 165px;
   display: none;
   
}
.overlay8 p{
    position: absolute;
    top: 30px;
    left: 10px;
    padding: 20px;
    padding-bottom: 50px;
    font-size: 30px;
    border-style: solid;
    color: white;
}
button{
    margin-bottom: 50px;
    margin-left: 200px;
}
.design{
    padding-left: 150px;
    padding-right: 150px;
}
.development{
    padding-left: 150px;
    padding-right: 150px;
}
.product{
    padding-left: 150px;
    padding-right: 150px;
}
.design-text{
    display: none;
}
.development-text{
    display: none;
}
.product-text{
    display: none;
}
h6{
    text-align: center;
}